.contact {
  background-color: var(--color-grey);
  padding: 48px;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading {
  font-family: 'Hahmlet', serif;
  font-size: 36px;
  margin: 0;
  font-weight: 900;
}

.email {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
  color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
  .contact {
    min-height: 50vh;
  }
  .heading {
    font-size: 48px;
  }
  .email {
    font-size: 32px;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .contact {
    min-height: 100vh;
  }
}

