.item {
  will-change: background-color, box-shadow;
  position: relative;
  padding: 18px 24px;
  max-width: 124px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  transition: background-color 0.3s 0s, box-shadow 0.3s 0s;
  border-radius: var(--border-radius);
  z-index: 13;
}

.icon {
  background-color: var(--color-grey);
  position: relative;
  z-index: 12;
  transition: background-color 0.3s 0s;
}

.title {
  will-change: transform, opacity;
  transition: transform 250ms, opacity 350ms;
  transform: translateY(-42px);
  font-weight: 600;
  position: relative;
  z-index: 11;
  opacity: 0;
  font-size: 15px;
  color: var(--color-primary);

}

.item::before,
.item::after {
  will-change: width, height;
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  width: 0;
  height: 0;
  border-radius: var(--border-radius);
}

.item::before {
  bottom: 0;
  left: 0;
}

.item::after {
  bottom: 0;
  left: 0;
}

.item:hover::before,
.item:hover::after {
  width: 100%;
  height: 100%;
}

.item:hover::after {
  border-left-color: var(--color-grey);
  border-top-color: var(--color-grey);
  transition:
  height 0.2s ease-out,
  width 0.2s ease-out 0.2s;

}

.item:hover::before {
  border-bottom-color: var(--color-grey);
  border-right-color: var(--color-grey);
  transition:
    width 0.2s ease-out,
    height 0.2s ease-out 0.2s;
    
}

.item:hover {
  box-shadow: var(--box-shadow-sm);
  background-color: var(--color-bg);
}

.item:hover .icon {
  background-color: var(--color-bg);
}

.item:hover .title {
  transform: translateY(0px);
  opacity: 1;
}

.icon * {
  width: 75px;
  height: 75px;
}