.skills {
  background-image:linear-gradient(0deg, rgba(226,232,240,1) 0%,rgba(226,232,240,0) 50%, rgba(226,232,240,1) 100%), url(../../images/texture.png);
  position: relative;
  padding: 48px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color:var(--color-grey);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  position: relative;
  z-index: 25;
}

.content {
  text-align: center;
  transform: translateY(120%);
  opacity: 0;
  transition: transform 550ms, opacity 300ms;
}

.skills.in_viewport .content {
  opacity: 1;
}

.skills.intersected .content{
  transform: translateY(0px);
}

@media screen and (min-width: 768px) {
  .list {

  }
}




