.container {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.heading {
  font-family: var(--secondary-font);
  transform: translate(100px, 200%) rotate(25deg);
  display: inline-block;
  font-size: 64px;
  transform-origin: 0 50%;
  font-weight: 800;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.heading.sm {
  font-size: 32px;
}

.heading.active.sm {
  animation: animate 700ms 100ms;
  animation-fill-mode: forwards;
}

.heading.active {
  animation: animate 700ms 500ms;
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    transform: translate(100px, 200%) rotate(25deg);
    opacity: 0.6;
  }

  100% {
    transform: translate(0px, 0%);
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .heading {
    font-size: 72px;
  }
  .heading.sm {
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 92px;
  }
  .heading.sm {
    font-size: 60px;
  }
}

@media screen and (min-width: 889px) {
  .container {
    text-align: left;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-height: 500px) {
  .container {
    text-align: left;
  }
}