.container {
  position: relative;
  overflow: hidden;
}

.heading {
  font-family: 'Hahmlet', serif;
  transform: translate(100px, 200%) rotate(25deg);
  display: inline-block;
  font-size: 72px;
  transform-origin: 0 50%;
  animation: animate 675ms;
  animation-fill-mode: forwards;
  font-weight: 900;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 92px;
  }
}

@keyframes animate {
  0% {
    transform: translate(100px, 200%) rotate(25deg);
    opacity: 0.6;
  }

  100% {
    transform: translate(0px, 0%);
    opacity: 1;
  }
}
