.container {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.heading {
  font-family: 'Hahmlet', serif;
  transform: translate(100px, 200%) rotate(25deg);
  display: inline-block;
  font-size: 64px;
  transform-origin: 0 50%;
  animation: animate 700ms 500ms;
  animation-fill-mode: forwards;
  font-weight: 900;
}

@keyframes animate {
  0% {
    transform: translate(100px, 200%) rotate(25deg);
    opacity: 0.6;
  }

  100% {
    transform: translate(0px, 0%);
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .container {
    text-align: center;
  }
  .heading {
    font-size: 72px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    text-align: left;
  }
  .heading {
    font-size: 92px;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-height: 500px) {
  .container {
    text-align: left;
  }
}