.hero {
  position: relative;
  height: 110vh;
  z-index: 10;
}

.hero::after {
  content: url(../../icons/slant-top.svg);
  color: var(--color-grey);
  fill: var(--color-grey);
  width: 100%;
  height: 125px;
  position: absolute;
  bottom: -125px;
  left: 0;
}

.content {
  padding: 48px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction {
  margin: 0;
}

.header {
  margin: 0;
}

@media screen and (min-height: 840px) and (max-width: 595px) {
  .hero {
    height: 90vh;
  }  
}

@media screen and (max-height: 925px) and (max-width: 595px) {
  .content {
    justify-content: flex-start;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .hero {
    min-height: 150vh;
  }
  .content {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 75vh;
  }
  .content {
    justify-content: center;
    padding: 0 64px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding: 0 128px;
  }
}