.wrapper {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sphere {
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  background-color: transparent;
  margin-bottom: 24px;
}

.container {
  will-change: transform;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  animation : rotate 25s infinite linear;
  background-color: transparent;
}


.item {
  will-change: transform;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 500ms 100ms;
}

.item svg {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  animation: invertRotate 25s infinite linear;
}

.container .item.active:nth-child(1) {
  transform: translate3d(-150px, -60px, 30px);
}


.container .item.active:nth-child(2) {
  transform: translate3d(80px, 40px, -80px);
}


.container .item.active:nth-child(3) {
  transform: translate3d(20px, -150px, -45px);
}


.container .item.active:nth-child(4) {
  transform: translate3d(-80px, -60px, 65px);
}


.container .item.active:nth-child(5) {
  transform: translate3d(90px, -100px, -110px);
}


.container .item.active:nth-child(6) {
  transform: translate3d(130px, 20px, 30px);
}


.container .item.active:nth-child(7) {
  transform: translate3d(-80px, -60px, -80px);
}


.container .item.active:nth-child(8) {
  transform: translate3d(-80px, -120px, 110px);
}


.container .item.active:nth-child(9) {
  transform: translate3d(80px, 70px, 110px);
}

.container .item.active:nth-child(10) {
  transform: translate3d(20px, 60px, -80px);
}

.container .item.active:nth-child(11) {
  transform: translate3d(-130px, 90px, 20px);
}

.container .item.active:nth-child(12) {
  transform: translate3d(80px, 90px, -120px);
}

.container .item.active:nth-child(13) {
  transform: translate3d(80px, -140px, 90px);
}

.container .item.active:nth-child(14) {
  transform: translate3d(-80px, -140px, -130px);
}

.container .item.active:nth-child(15) {
  transform: translate3d(-130px, 40px, 130px);
}

.container .item.active:nth-child(16) {
  transform: translate3d(45px, 110px, 45px);
}

.container .item.active:nth-child(17) {
  transform: translate3d(-130px, 55px, -130px);
}

.container .item.active:nth-child(18) {
  transform: translate3d(-60px, -60px, -130px);
}

.container .item.active:nth-child(19) {
  transform: translate3d(65px, -25px, 95px);
}

.container .item.active:nth-child(20) {
  transform: translate3d(-85px, 90px, 110px);
}

.container .item.active:nth-child(21) {
  transform: translate3d(-95px, 90px, -120px);
}



@keyframes rotate{
  to{
    transform:rotateY(360deg);
  }
}

@keyframes invertRotate{
  to{
    transform: rotateY(-360deg);
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-height: 500px)  {
  .wrapper {
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 889px) {
  .wrapper {
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .sphere {
    margin-right: 64px;
    margin-bottom: 64px;
  }
}