.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-grey);
}


.content {
  display: flex;
  flex-direction: column;
  gap: 84px;
  padding: 18px 18px 64px 18px;
  position: relative;
}

.content::after {
  content: url(../../icons/rough-edges-bottom.svg);
  color: var(--color-grey);
  fill: var(--color-grey);
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
} 


.viewmore {
  position: relative;
  z-index: 12;
  padding: 48px 0 64px 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-bg);
}

.viewmore::after {
  content: url(../../icons/rough-edges-top.svg);
  color: var(--color-grey);
  fill: var(--color-grey);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: 0;
}


.viewmore a {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 48px 48px 128px 48px;
  }
}