.projects {
  display: flex;
  flex-direction: column;
  border-top: 2px var(--color-grey) solid;
  gap: 84px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 84px;
  padding: 18px;
}

.viewmore {
  border-top: 2px var(--color-grey) solid;
  border-bottom: 2px var(--color-grey) solid;
  padding: 48px 0;
  display: flex;
  justify-content: center;
}

.viewmore a {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 48px;
  }
}