.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.image {
  max-width: 400px;
  height: 300px;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius);
}

.image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}

.left:not(.image), .right:not(.image) {
  flex: 1;
}

.left, .right {
  transition: transform 250ms ease-out, opacity 800ms ease-out;
}

.left {
  transform: translateX(-100vw);
  opacity: 0;
}

.right {
  transform: translateX(100vw);
  opacity: 0;
}

.container.in_viewport .left, .container.in_viewport .right {
  transform: translateX(0px);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
