.about {
  position: relative;
  padding: 24px 48px;
  transition: background-color .2s ease, color .2s ease;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: var(--color-grey)
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.content .left {
  opacity: 0.5;
  transform: translateX(-100vw);
  transition: transform 500ms ease-out, opacity 600ms ease-out;
  box-shadow: 0 24px 43px rgb(25 17 34 / 20%), 0 20px 17px rgb(25 17 34 / 20%);
  border-radius: var(--border-radius);
}

.about.in_viewport .content .left {
  opacity: 1;
}

.content .right {
  background-color: var(--color-bg);
  opacity: 0.5;
  transform: translateX(100vw);
  transition: transform 500ms ease-out, opacity 600ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: var(--border-radius);
  z-index: 15;
}

.about_text {
  padding: 6px 24px;
}

.desc {
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 300;
}

.about.in_viewport .content .right {
  opacity: 1;
}

.heading {
  text-align: center;
}

.in_viewport {

}

@media screen and (max-height: 700px) {
  .content {
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    min-height: 75vh;
  }
  .content {
    flex-direction: row;
  }
  .about_text {
    padding: 24px;
  }
  .desc {
    font-size: 16px;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .about {
    padding: 48px;
    min-height: 200vh;
    justify-content: flex-start;
    align-items: center;
  }
  .content { 
    gap:84px;
  }
}

