.about {
  position: relative;
  padding: 0 48px;
  transition: background-color .2s ease, color .2s ease;
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.heading {
  transform: translateY(50%);
  z-index: 10;
  transition: transform 700ms ease-out, opacity 800ms ease-out;
  transition-delay: 900ms;
}

.content .left {
  opacity: 0.5;
  transform: translateX(-100vw);
  transition: transform 700ms ease-out, opacity 800ms ease-out;
  box-shadow: 0 24px 43px rgb(25 17 34 / 20%), 0 20px 17px rgb(25 17 34 / 20%);
}

.about.in_viewport .content .left {
  opacity: 1;
}

.content .right {
  opacity: 0.5;
  transform: translateX(100vw);
  transition: transform 700ms ease-out, opacity 800ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.desc {
  font-size: 16px;
  padding: 6px 24px;
  font-weight: 300;
}

.about.in_viewport .content .right {
  opacity: 1;
}

.heading {
  margin: 0;
  text-align: center;
}

.in_viewport {

}

@media screen and (max-height: 700px) {
  .content {
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .desc {
    font-size: 16px;
    padding: 24px;
  }
}

