.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 8px 24px;
  transition: all 0.25 ease-out;
  color: var(--color-bg);
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button svg {
  width: 24px;
  height: 24px;
}