:root {
  --box-shadow-sm: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --box-shadow-lg: 0 24px 43px rgb(25 17 34 / 20%), 0 20px 17px rgb(25 17 34 / 20%);
  --border-radius: 0.25rem;
  --color-text: #0A192F;
  --color-text-light: #0E2343;
  --color-bg: #EDF2F4;
  --color-dark: #4A7B9D;
  --color-primary: #F06449;
  --color-primary-hover: #ED3F1D;
  --color-primary-light: #FCDFD9;
  --color-secondary: #8C2F39;
  --color-grey: #e2e8f0;
  --default-font: 'Hind', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

/* #647AA3; */

html,
body {
  font-size: 15px;
  font-family: var(--default-font);
  color: var(--color-text);
  background: var(--color-dark);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.h2 {
  font-family: var(--secondary-font);
  margin: 0;
  font-weight: 900;
  text-align: center;
  background: -webkit-linear-gradient(180deg,var(--color-primary) 0%, var(--color-secondary)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
