:root {
  --screen-sm: 595px;
  --screen-md: 768px;
  --screen-lg: 889px;
  --screen-xl: 1200px;
  --box-shadow-sm: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --box-shadow-lg: 0 24px 43px rgb(25 17 34 / 20%), 0 20px 17px rgb(25 17 34 / 20%);
  --border-radius: 0.25rem;
}

:root.dark {
  --color-text: #FFFBFC;
  --color-bg: #010400;
  --color-dark: #6D6466;
  --color-primary: #007991;
  --color-primary-hover: #005566;
  --color-primary-light: #ADF1FF;
  --color-secondary: #439A86;
  --color-light: #B88B4A;
  --color-grey: #9ca3af;
}

:root.light {
  --color-text: #010400;
  --color-bg: #FFFBFC;
  --color-dark: #6D6466;
  --color-primary: #007991;
  --color-primary-hover: #005566;
  --color-primary-light: #ADF1FF;
  --color-secondary: #439A86;
  --color-light: #B88B4A;
  --color-grey: #e2e8f0;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--color-text);
  background: var(--color-dark);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.h2 {
  font-family: 'Hahmlet', serif;
  margin: 0;
  font-weight: 900;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--color-text);
    background: var(--color-bg);
  }
}
