.hamburger {
  position: fixed;
  max-width: 1200px;
  width: 100%;
  text-align: end;
  padding: 0 24px;
  margin: 0 auto;
  top: 36px;
  z-index: 10;
}

.toggler {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}


.line {
  fill: var(--color-primary);
}