.container {
  position: relative;
  background-color: var(--color-dark);
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}


.main {
  opacity: 0;
  position: relative;
  width: 100%;
  transition: opacity 0.20s 0.05s, transform 0.3s;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 6px -1px, rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  background-color: var(--color-bg);
  transform-origin: top center;
}

.main.rendered {
  opacity: 1;
}

.active {
  transform: scale(0.85) translateY(215px);
}

@media screen and (min-width: 768px) {
  .active {
    transform: scale(0.85) translateY(140px);
  }
}