.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-bg);
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  border-top-color: var(--color-primary-hover);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}