.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-bg);
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  gap: 8px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 14px 22px rgb(25 17 34 / 15%), 0 7px 15px rgb(25 17 34 / 15%);
  animation: animate 1s 500ms infinite;
}

.dot:nth-of-type(1) {
  animation-delay: 100ms;
  background-color: #F06449;
}

.dot:nth-of-type(2) {
  animation-delay: 200ms;
  background-color: #CB5043;
}

.dot:nth-of-type(3) {
  animation-delay: 300ms;
  background-color: #A93F3E;
}

.dot:nth-of-type(4) {
  animation-delay: 400ms;
  background-color: #8C2F39;
}

@keyframes animate {
  0% {
    transform: scale(1) translateY(0);
    box-shadow: 0 14px 22px rgb(25 17 34 / 15%), 0 7px 15px rgb(25 17 34 / 15%);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 24px 32px rgb(25 17 34 / 15%), 0 17px 25px rgb(25 17 34 / 15%);
  }
  100% {
    transform: scale(1) translateY(0);
    box-shadow: 0 14px 22px rgb(25 17 34 / 15%), 0 7px 15px rgb(25 17 34 / 15%);
  }
}