.navigation {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.list {
  padding: 0;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
}

.item {
  cursor: pointer;
  transition: transform 300ms;
  transform: translate(0px, 100px);
}

.navigation.active .item {
  transform: translate(0px, 0px);
}

.navigation.active .item:nth-of-type(1) {
  transition-delay: 100ms;
}
.navigation.active .item:nth-of-type(2) {
  transition-delay: 200ms;
}
.navigation.active .item:nth-of-type(3) {
  transition-delay: 300ms;
}
.navigation.active .item:nth-of-type(4) {
  transition-delay: 400ms;
}



@media screen and (min-width: 595px) {
  .list {
    padding: 36px;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    gap: 48px;
  }
}