.container {
  position: relative;
  z-index: 12;
  overflow: hidden;
}

.curtain {
  position: absolute;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  z-index: 15;
}

.curtain.left {
  animation: reveal-left 800ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-fill-mode: forwards;
}

.curtain.right {
  animation: reveal-right 800ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-fill-mode: forwards;
}

@keyframes reveal-left {
  0% {
    transform: translateX(0px)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes reveal-right {
  0% {
    transform: translateX(0px)
  }
  100% {
    transform: translateX(100%)
  }
}
